doctype

include /share

html
    head
        title nate language
        +univ(1)
    +stbody
        h1.frak Cob
        +cobnav("homepage", 0)
        p
            a.frak Cob
            |  will be a programming language in the style of
            a.frak  C, C++, & Java
            | .
            br
        p At present, it is still being designed.
        p Check the roadmap for more info
