doctype

include /share

html
    head
        title nate projects
        +univ(1)
    +stbody
        h1.frak projects
        +projnav("homepage", 0)
        h3.frak Joe Mama
        h4 come back soon, the website's still a WIP
