doctype

include /share

html
    head
        title jPde
        +univ(1)
    +stbody
        h1.frak JPDE
        +projnav("homepage", 0)
        p The
          <a class="frak"> Java Processing Differential Equation
          </a> engine is a program i've been working on.
        br
        p It'll numerically approximate, and display, the Lorenz attractor, a normalized three-body problem,
          | and a few other things.
        br
        p It's made in Java, using Manifold for operator overloads (hooray), and Processing to display its state.
 
