doctype

include /share

html
    head
        title nate academia
        +univ(1)
    +stbody
        h1.frak Fields of Math
        +acdmnav("homepage", 0)
        h2.frak calculus
        p
            | I think it's a pretty neat field.
            br
            | It certainly contains a lot of what I consider the most interesting and powerful concepts in modern math.
            br
            | I'm not aware of any notion nearly as well formalized as integrals that can solve as many problems.
        h2.frak abstract algebra
        p
            | Quirked up set theory, busting it down structural style.
            br
            | I especially like it as a motivation for defining much of math, when building it up from axioms.
        h2.frak set theory
        p
            | This is the real "what the fuck" one, in my opinion.
            br
            | y'know, the cardinality of the set of positive integers is equal to the cardinality of the set of even positive integers?
        h2.frak group theory
        p I hate all that symmetry nonsense.
        h2.frak linear algebra
        p
            | an abomination. i despise it.
            br
            | i am deeply ashamed to say that it's been growing on me.
