doctype

include /share

html
    head
        title ZFC
        +univ(1)
    +stbody
        h1.frak Zermelo-Fr&#228;nkel-Choice Set Theory
        +acdmnav("zfc", 0)
        h3.frak Axiom of Extensionality
        img(src="zfc/extensionality.svg" alt="formal description of the axiom of extensionality").svg
        p zamn this shit creative
        br
        h3.frak Axiom of Pairing
        img(src="zfc/pairing.svg" alt="formal description of the axiom of pairing").svg
        p YOOOOOO
        p SETS WITH TWO MEMBERS CONFIRMED?
        p presently going ham over this.
        br
        h3.frak Axiom Schema of Specification
        img(src="zfc/specification1.svg" alt="formal description of the axiom schema of specification").svg
        p axiom schemata are evil and should not be present in our set theories.
        img(src="zfc/specification2.svg" alt="formal description of the second-order axiom of specification").svg
        p much better. set builder notation is fun.
        br
        h3.frak Axiom of Regularity
        img(src="zfc/regularity.svg" alt="formal description of the axiom of regularity").svg
        p Set theorists really know how to make the mundane seem arcane.
        p x not in x, that's a nice consequence
        br
        h3.frak Axiom of Infinity
        img(src="zfc/infinity.svg" alt="formal description of the axiom of infinity").svg
        p HOLY SHIT
        p INFINITE SETS?!?!?!?!??!?!?
        p REAL????????/!?!?!!!!!?!!?!?!
        p CONFIRMED?!?!?!!?!?!?!!!!?!
        p AXIOMATIC?!?!?!?!?!?!?!?!?!
        p THE PRESS IS GOING GORILLAS

