body, html {
    background: dimgray;
    padding: 0px;
    margin: 0px;
}
#navbar a {
    color: lightblue;
    &:hover {
        color: blue;
    }
}
a {
    color: blue;
    text-decoration: none;
    &:hover {
        color: darkblue;
    }
}
div {
    &.main {
        display: flex;
        flex-direction: column;
    }
    &.navitem {
        font-size: 1.3em;
    }
}
#navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}
#navbar { background: #000; }
#ico {
    font-size: 2em;
    justify-self: start;
}
