doctype

include /share

html
    head
        title nate website
        +univ(0)
    +stbody
        h1.frak nate r. brown
        +navbar("homepage", 0)
        br
        p Hello, world!
        br
        p This is my
            a.frak  website.
        br
        p I'm not
            a.frak  really
            |  sure what to put here.
