mixin univ(nesting)
    link&attributes({rel:"stylesheet", href:"../".repeat(nesting)+"univ.css"})


- const current = {class: "current", href: ""};


mixin navbar(loc, nesting)
    - let prefix = "../".repeat(nesting), attr;
    p
        - attr = loc === "homepage" ? current : {href: prefix + 'index.html', class: ""};
        a&attributes(attr) homepage
        |  |
        - attr = loc === "academia" ? current : {href: prefix + 'academia/index.html', class: ""};
        a&attributes(attr)  academia
        |  |
        - attr = loc === "language" ? current : {href: prefix + 'cob/index.html', class: ""};
        a&attributes(attr)  language
        |  |
        - attr = loc === "projects" ? current : {href: prefix + 'proj/index.html', class: ""};
        a&attributes(attr)  projects


mixin cobnav(loc, nesting)
    +navbar("language", nesting+1)
    - let prefix = "../".repeat(nesting), attr;
    p
        - attr = loc === "homepage" ? current : {href: prefix + 'index.html'};
        a&attributes(attr) home
        =" | "
        - attr = loc === "roadmap" ? current : {href: prefix + 'roadmap.html'};
        a&attributes(attr) roadmap
        =" | "
        - attr = loc === "plans" ? current : {href: prefix + 'plans.html'};
        a&attributes(attr) plans


mixin acdmnav(loc, nesting)
    +navbar("academia", nesting+1)
    - let prefix = "../".repeat(nesting), attr;
    p
        - attr = loc === "homepage" ? current : {href: prefix + 'index.html'};
        a&attributes(attr) index
        =" | "
        - attr = loc === "zfc" ? current : {href: prefix + 'zfc.html'};
        a&attributes(attr) zfc
        =" | "
        - attr = loc === "peano" ? current : {href: prefix + 'peano.html'};
        a&attributes(attr) peano
        =" | "
        - attr = loc === "nf" ? current : {href: prefix + 'nf.html'};
        a&attributes(attr) nf

mixin projnav(loc, nesting)
    +navbar("projects", nesting+1)
    - let prefix = "../".repeat(nesting), attr;
    p
        - attr = loc === "homepage" ? current : {href: prefix + 'index.html'};
        a&attributes(attr) index
        =" | "
        - attr = loc === "jpde" ? current : {href: prefix + 'jpde.html'};
        a&attributes(attr) jPde

mixin stbody
    body
        div.center
            div
                block

