$fmul = 1

@font-face
  font-family Chomsky
  src url("fonts/Chomsky.otf")

@font-face
  font-family "Atkinson Hyperlegible"
  font-style normal
  font-weight normal
  src url("fonts/Atkinson/Regular.ttf")

@font-face
  font-family "Atkinson Hyperlegible"
  font-style italic
  font-weight normal
  src url("fonts/Atkinson/Italic.ttf")

@font-face
  font-family "Atkinson Hyperlegible"
  font-style normal
  font-weight bold
  src url("fonts/Atkinson/Bold.ttf")

@font-face
  font-family "Atkinson Hyperlegible"
  font-style italic
  font-weight bold
  src url("fonts/Atkinson/BoldItalic.ttf")

body
  background-color #000
  color #fff
  font-family "Atkinson Hyperlegible"

.center
  text-align center
  align-content center
  align-items center
  justify-content center
  display flex

.frak
  font-family "Chomsky"

.wide
  width max-content

.current
  font-weight bold

a:any-link
  color #cef
  text-decoration-line none
  font-size inherit

code
  text-align left
  font-size inherit

pre
  font-size inherit

h1
  font-size 32*$fmul px

h2
  font-size 24*$fmul px

h3
  font-size 18.72*$fmul px

h4
  font-size 16*$fmul px

h5
  font-size 13.28*$fmul px

h6
  font-size 10.72*$fmul px

p
  font-size 16*$fmul px
